<ion-view class="app-bcg">
  <ion-content class="padding" ng-class="{ 'backgroundblack': !showtimeline}" >
    <div ng-if="!showtimeline" scroll="false" >
    <div style="padding:5px;">
      <form name="userForm">
        <div layout="column" layout-align="start">

          <!-- <div>
            <md-input-container class="md-block">
        <label>Choose Category</label>
        <md-select ng-model="category" multiple ng-change="changecategory(category)">
          <md-optgroup label="Select Category">
            <md-option ng-value="cr" ng-repeat="cr in categories" >{{cr}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
          </div> -->
          <div>
            <md-input-container class="md-block" >
                      <label style="color:orange">No of Questions</label>
                      <md-select ng-model="obj.questions" style="color:orange !important" ng-change="changeSubcategory(data.categorytype)">
                        <md-option style="color:black" ng-repeat="rtv in questionvalues" ng-value="rtv">
                          {{rtv}}
                        </md-option>
                      </md-select>
                    </md-input-container>
          </div>
          <div>
            <md-input-container class="md-block" >
                      <label style="color:orange">Choose Category</label>
                      <md-select ng-model="obj.category" style="color:orange !important" ng-change="changeSubcategory(data.categorytype)">
                        <md-option style="color:black" ng-repeat="cr in categories" ng-value="cr">
                          {{cr}}
                        </md-option>
                      </md-select>
                    </md-input-container>
          </div>
          <div>
            <md-input-container class="md-block" >
                      <label style="color:orange">Upto</label>
                      <md-select ng-model="obj.uptovalue" style="color:orange !important" ng-change="changeSubcategory(data.categorytype)">
                        <md-option style="color:black" ng-repeat="rtv in rootvalues" ng-value="rtv">
                          {{rtv}}
                        </md-option>
                      </md-select>
                    </md-input-container>
          </div>
          <md-button class="md-raised" style="background-color:orange" ng-click="startquiz(obj)">Start Quiz</md-button>

          </div>
      </form>
    </div>

    </div>
    <div  ng-if="showtimeline">
      <div class="progress-wrapper" style="margin-top: 2px;">
          <div class="progress">
              {{humanizeDurationTimer(timer,'s')}}
          </div>
        <div  round-progress max="timeForTimer" current="timer" clockwise="false" color="#ef473a" rounded="true" class="text-center" radius="60"></div>
      </div>
<div ng-repeat ="qn in questions">
<div ng-if="qn.operation=='squareroot' || qn.operation=='cuberoot'">
  <div class="row" ng-if="$index==showthis" layout-align="space-around center">
    <div flux=34>
    </div>
    <div style="font-size: 32px;font-weight: bold;padding-bottom:29px;" flex="26">  <p>{{qn.firstnum}} <sup ng-if="qn.operation=='squareroot'">2</sup> <sup ng-if="qn.operation=='cuberoot'">3</sup> = </p></div>
  <div flex="40">
    <md-input-container class="md-block" flex-gt-sm>

               <input type="number" ng-model="qn.myanswer" ng-enter="nextquestion()" style="font-size: 32px;font-weight: bold"   focus-me>
             </md-input-container>
  </div>
  </div>

</div>
</div>

  <div layout="row" layout-align="space-around center">
    <div><md-button class="md-raised md-primary" ng-click="prevquestion()">Back</md-button></div>
    <div ng-if="!iscompleted"><md-button class="md-raised md-primary" ng-click="nextquestion()">Next</md-button></div>
    <div ng-if="iscompleted"><md-button class="md-raised md-primary" ng-click="endexam()">Finish</md-button></div>

  </div>
   </div>
  </ion-content>
</ion-view>
