<ion-view class="app-bcg">
  <ion-content class="padding" ng-class="{ 'backgroundblack': !showtimeline}" >
    <div ng-if="!showtimeline" scroll="false" >
    <div style="padding:5px;">
      <form name="userForm">
        <div layout="column" layout-align="start">
          <div layout="row">
            <div flex="90" style="color:orange;padding-top: 24px;">Filter for a period
            </div>
            <div flex="10">
          <md-switch ng-model="showperiod" md-invert aria-label="Switch 1">
    Period
  </md-switch>
</div>
</div>

          <div layout="row" ng-show="showperiod">
            <md-input-container class="md-block" flex-gt-sm>
            <label style="color:orange">From</label>
            <input style="color:orange !important" ng-model="data.year.fromyear">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label style="color:orange">To</label>
            <input style="color:orange !important" ng-model="data.year.toyear">
          </md-input-container>
            <!-- <md-input-container class="md-block" style="width:50%;">
                      <label style="color:orange">From</label>
                      <md-select ng-model="data.year.fromyear" style="color:orange !important">
                        <md-option style="color:black" ng-repeat="yr in allyears" ng-value="yr">
                          {{yr}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" style="width:50%;">
                              <label style="color:orange">To</label>
                              <md-select ng-model="data.year.toyear" style="color:orange !important">
                                <md-option style="color:black" ng-repeat="yr in allyears" ng-value="yr">
                                  {{yr}}
                                </md-option>
                              </md-select>
                            </md-input-container> -->
          </div>
                        <div ng-hide="showperiod">
                          <md-input-container class="md-block">
                      <label>Year</label>
                      <md-select ng-model="data.year" multiple>
                        <md-select-header class="demo-select-header">
                        <md-button class="md-primary" ng-click="toggleAllyear()" ng-hide="allyears.length==data.year.length">Select All</md-button>
                        <md-button class="md-primary" ng-click="toggleAllyear()" ng-show="allyears.length==data.year.length">Un Select All</md-button>
                       </md-select-header>
                        <md-optgroup label="Select Year">
                          <md-option ng-value="yr" ng-repeat="yr in allyears">{{yr}}</md-option>
                        </md-optgroup>
                      </md-select>
                    </md-input-container>
                        </div>

          <div>
            <md-input-container class="md-block" >
                      <label style="color:orange">Category</label>
                      <md-select ng-model="data.categorytype" style="color:orange !important" ng-change="changeSubcategory(data.categorytype)">
                        <md-option style="color:black" value="All"><em>All</em></md-option>
                        <md-option style="color:black" ng-repeat="cr in categories.allcategories" ng-value="cr">
                          {{cr}}
                        </md-option>
                      </md-select>
                    </md-input-container>
          </div>
          <div>
            <md-input-container class="md-block">
        <label>Sub Category</label>
        <md-select ng-model="data.subcategorytype" multiple>
          <md-select-header class="demo-select-header">
          <md-button class="md-primary" ng-click="toggleAll()" ng-hide="subcategories.length==data.subcategorytype.length">Select All</md-button>
          <md-button class="md-primary" ng-click="toggleAll()" ng-show="subcategories.length==data.subcategorytype.length">Un Select All</md-button>
         </md-select-header>
          <md-optgroup label="Select Sub Category">
            <md-option ng-value="sc" ng-repeat="sc in subcategories">{{sc}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
          </div>
          <md-button class="md-raised" style="background-color:orange" ng-click="search(showperiod,data)">Search</md-button>
        </div>
      </form>
    </div>
    <div>
      <div style="padding:5px;">
        <form name="userForm">
          <div layout="column" layout-align="start">
            <p style="color:orange;">Sorted By: </p>
               <md-radio-group ng-model="orderbydata" ng-change="changesort(orderbydata)">
                 <md-radio-button value="year" style="color:orange;">Year</md-radio-button>
                 <md-radio-button value="categorytype" style="color:orange;"> Category </md-radio-button>
                 <md-radio-button value="trickvalue" style="color:orange;">Color</md-radio-button>
               </md-radio-group>
          </div></form>
        </div>
    </div>
    <div style="margin-top:40px;margin-left: 20px;">
        <md-checkbox ng-model="makeallcolorblack" aria-label="Checkbox 1" style="color:orange" ng-change="changecolor()">
          Make All color to Black
        </md-checkbox>
      </div>
    </div>
    <div ng-if="showtimeline">
      <!-- <div class="bar bar-header item-input-inset" style="background: none; border:none;" ng-show="docsSearchBar">
        <label class="item-input-wrapper" style="background: none; border: 1px solid black;">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" style="color:black" placeholder="Search" ng-model="docsSearch">
        </label>
        <button class="button button-positive" style="background-color:black;color:white" ng-click="toggleDocsSearchBar()"> Cancel </button>
      </div> -->
    <section id="cd-timeline" class="cd-container" >
       <div ng-repeat="currentaffair in currentaffairs | orderBy : orderbydata | filter : docsSearch">
         <div class="cd-timeline-block" ng-dblclick="deletethis($event,currentaffair)" ng-if="currentaffair.categorytype">
           <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
           <div class="cd-timeline-picture dark">
             <img  ng-src="https://storage.googleapis.com/fusiontable-142013.appspot.com/yesmasterimg/{{currentaffair.categorytype}}.png"></img>

             <!-- <img ng-src="/img/{{currentaffair.categorytype}}{{currentaffair.subcategorytype}}.svg" err-SRC="/img/{{currentaffair.categorytype}}.png"></img> -->
           </div>
           <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
           <div class="cd-timeline-content dark {{currentaffair.numbercategory}}" ng-class="{ 'eight': makeallcolorblack}">
             <h5 class="marginBottom0 marginTop0" style="color:white;font-size:23px;font-weight: bold;">{{currentaffair.year}}  {{currentaffair.month}} {{currentaffair.date}}</h5>
             <!-- <p class="marginTop5 cd-author" ng-if="currentaffair.date" style="font-size:16px;color:white;">on </p> -->
             <p class="timelineText" style="color:white;font-size:17px;">{{currentaffair.brief}}</p>
             <p class="timelineText" style="color:white;font-size:17px;">{{currentaffair.desc}}</p>
           </div>
         </div>
       </div>
     </section>
     </div>
  </ion-content>
  <div class="fixed-outside1 item-input-inset" style="background: none; border:none;" ng-show="docsSearchBar">
    <label class="item-input-wrapper" style="background: none; border: 1px solid black;">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" style="color:black" placeholder="Search" ng-model="docsSearch">
    </label>
    <button class="button button-positive" style="background-color:black;color:white" ng-click="toggleDocsSearchBar()"> Cancel </button>

  </div>
  <div class="fixed-outside2">
    <div class="row">
      <div class="col">
<div class="search" style="float:right;margin-top: -25%;" ng-click="addyear()"><img style="width:50px" src="https://storage.googleapis.com/fusiontable-142013.appspot.com/yesmasterimg/addicon.png" /></div>
</div>
    </div>
  </div>
  <div class="fixed-outside">
    <div class="row">
      <div class="col">
<div class="search" style="float:right;margin-top: -25%;" ng-click="toggle()"><img src="https://storage.googleapis.com/fusiontable-142013.appspot.com/yesmasterimg/search.png" /></div>
</div>
    </div>
  </div>

</ion-view>
